body{
	background-color: #e8e8e8;
}

#logo{
	height: 200px;
	width: 400px;
	display: inline-block;
}

#titulo{
	text-align: center;
	display: inline-block;
	margin-left: 2em;
}

#email{
	display: flex;
}

#email p{
	
}

#email input{
	height: 1em;
	margin-left: 28.7em;
	margin-top: .5em; 
}

#ingreso{
	display: flex;
}

#ingreso p{
	
}

#ingreso input{
	height: 1em;
	margin-left: 22.5em;
	margin-top: .5em; 
}

#contraseña{
	display: flex;
}

#contraseña p{
	
}

#contraseña input{
	height: 1em;
	margin-left: 26.5em;
	margin-top: .5em;
}

#repcon{
	display: flex;
}

#repcon p{
	
}

#repcon input{
	height: 1em;
	margin-left: 22.5em;
	margin-top: .5em;
}

#olvidar{
	text-align: center;
}

#error{
	margin-left: 30em;
	margin-bottom: 1em;
	/*display: none;*/
}

#error img{
	height: 30px;
	width: 30px;
	display: inline-block;
	margin-right: 2em;
}

#error p{
	color: rgb(255, 0, 0);
	display: inline-block;
	text-align: center;
}

#entrar{
	display: block;
	margin: auto;
}