body{
	background-color: #e8e8e8;
}

#contain{
	margin: 0 auto;
}

#pricol{
	margin: 0 auto;
}

#segcol{
	background-image: url("../images/Icono.png");
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: 30% 40%;
}

#titu{
	margin-top: 2em;
}

#tercol{
	margin: 0 auto;
}

#titulo{
	text-align: center;
	display: inline-block;
	margin-left: 2.5em;
	font-size: 4em;
}

#email{
	display: flex;
}

#email p{
	font-size: 1.5em;
}

#email input{
	height: 1.2em;
	margin-left: 11.4em;
	margin-top: .5em; 
	font-size: 1.2em;
}

#ingreso{
	display: flex;
}

#ingreso p{
	font-size: 1.5em;
}

#ingreso input{
	height: 1.2em;
	margin-left: 4.05em;
	margin-top: .5em; 
	font-size: 1.2em;
}

#contraseña{
	display: flex;
}

#contraseña p{
	font-size: 1.5em;
}

#contraseña input{
	height: 1.2em;
	margin-left: 8.5em;
	margin-top: .5em;
	font-size: 1.2em;
}

#repcon{
	display: flex;
}

#repcon p{
	font-size: 1.5em;
}

#repcon input{
	height: 1.2em;
	margin-left: 4.35em;
	margin-top: .5em;
	font-size: 1.2em;
}

#olvidar{
	text-align: center;
}

#error{
	margin: 0 auto;
	margin-top: 1em;
	display: none;
}

#error img{
	height: 30px;
	width: 30px;
	display: inline-block;
}

#error p{
	color: rgb(255, 0, 0);
	display: inline-block;
	text-align: center;
}

#correcto{
	margin: 0 auto;
	margin-top: 1em;
	display: none;
}

#correcto img{
	height: 30px;
	width: 30px;
	display: inline-block;
}

#correcto p{
	color: rgb(0, 255, 0);
	display: inline-block;
	text-align: center;
}

#entrar{
	display: block;
	margin: auto;
	border-radius: 4px;
	font-size: 2em;
	margin-top: 1em;
	background-color: rgb(92, 237, 99);
	border: 2px solid;
}

.container{
	margin: 2em;
}