* {
 	margin: 0;
  	padding: 0;
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
}

body {
	background: url(../images/Fondo.jpg);
	background-position: center; 
	background-size: cover;
	background-attachment: fixed;
  	background-color: rgba(200,100,0,.5);
  	background-blend-mode: multiply;
	font-family: 'Source Sans Pro', sans-serif;
}

#logo {
  	width:50px;
}

#icon-text {
	font-size: 32px;
	color: #00bcd4;
	font-weight: bold;
}

.contenedor {
 	background-color: white;
 	max-width: 1100px;
 	width: 100%;
 	border-radius: 10px;
 	color: #fff;
 	padding: 30px;
 	margin: 50px auto;
}

.contenedorAdmin  {
 	background-color: white;
 	max-width: 1100px;
 	width: 100%;
 	border-radius: 10px;
 	color: #fff;
 	padding: 30px;
 	margin: -20px auto;
 	margin-bottom: 40px;
	text-align: center;
}

.contenedor2  {
	display: none;
 	background-color: white;
 	max-width: 1100px;
 	width: 100%;
 	border-radius: 10px;
 	color: #fff;
 	padding: 30px 0 70px;
 	margin: -20px auto;
 	margin-bottom: 40px;
	text-align: center;
}

.contenedorAdmin .user {
  	color: black;
	font-weight: bold;
	float: left;
}

.contenedor .button,
.contenedor2 .button,
.contenedor2 .error {
	float: right;
    background: #FF851B;
    color: #FFF;
    border: none;
    padding: 12px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 100%;
    transition: all .5s ease;
    margin-right: 10px;
    width: 50px;
    margin-top: -5px;
}

.contenedor .button:hover,
.contenedor2 .button:hover,
.contenedor2 .error:hover {
    background: rgba(0, 117, 217, 0.7);
}

#editar{
    font-size: 19px;
}

#eliminar{
    font-size: 40px;
    padding: 0px;
}

#admin{
	color: gray;
	font-style: italic;
	float: left;
}

#users{
	color: black;
	font-weight: bold;
	float: left;
}

.IMEI{
	color: black;
}

#bton{
  margin-right: 40px
}

.nombre, #btn{
  display: inline-block;
}

.contenedor2 input[type="text"] {
    float: left;
    outline: none;
    display: block;
    width: 20%;
    padding: 8px 15px;
    margin: 0 0 20px 20px;
    background: #ffffff;
    border-color: #e0e0e0;
    border-width: thin;
    border-radius: 10px;
    border-bottom: 4px solid #ff851b;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: normal;
    transition: all .5s ease;
}

.contenedor2 input[type="text"]:focus {
    border-bottom: 4px solid #0075d9;
}

