* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: url(../images/Fondo.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: rgba(200, 100, 0, .5);
  background-blend-mode: multiply;
  font-family: 'Source Sans Pro', sans-serif;
}

#logo {
  width: 50px;
}

#icon-text a {
  text-decoration: none;
  font-size: 32px;
  color: #00bcd4;
  font-weight: bold;
  float: left;
}

.contenedor {
  background-color: white;
  max-width: 1100px;
  width: 100%;
  border-radius: 10px;
  color: #fff;
  padding: 30px;
  margin: 50px auto;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
}

.contenedorAdmin {
  background-color: white;
  max-width: 1100px;
  width: 100%;
  border-radius: 10px;
  color: #fff;
  padding: 30px;
  margin: -20px auto;
  margin-bottom: 40px;
  text-align: center;
}

.contenedor3 .MAC {
  margin-left: 30px;
  color: black;
}

@keyframes rotation {
  from {
    transform: perspective(130px) rotateX(-90deg);
  }
  to {
    transform: perspective(130px) rotateX(0deg);
  }
}

.contenedor2, .contenedor3 {
  display: none;
  background-color: white;
  max-width: 1100px;
  width: 100%;
  border-radius: 10px;
  color: #fff;
  padding: 30px 0 70px;
  margin: -20px auto;
  margin-bottom: 40px;
  text-align: center;
  transform-origin: top center;
  transition-duration: .5s;
  animation: rotation ease .5s;
}

.contenedor3 {
  padding: 30px 0 30px 30px;
}

.contenedorAdmin .user, .contenedor3 .sub {
  color: black;
  font-weight: bold;
  float: left;
}

.contenedor .button, .contenedor2 .buttons, .contenedor2 .error {
  float: right;
  background: #FF851B;
  color: #FFF;
  border: none;
  padding: 12px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 100%;
  transition: all .5s ease;
  margin-right: 17px;
  width: 50px;
  margin-top: -5px;
}

.contenedor3 .eliminar, .contenedor3 .cambiar {
  float: right;
  background: #FF851B;
  color: #FFF;
  border: none;
  padding: 12px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 100%;
  transition: all .5s ease;
  margin-right: 17px;
  width: 50px;
  margin-top: -15px;
}

.contenedor2 .error, .contenedor3 .eliminar {
  margin-right: 45px;
}

.contenedor .button:hover, .contenedor2 .buttons:hover, .contenedor2 .error:hover, .contenedor3 .eliminar:hover, .contenedor3 .cambiar:hover {
  background: rgba(0, 117, 217, 0.7);
}

.button, .cambiar {
  font-size: 19px;
  transform: rotateY(180deg);
  transform: rotateY(180deg);
  transform: rotateY(180deg);
  transform: rotateY(180deg);
}

#eliminar {
  font-size: 40px;
  padding: 0px;
}

#admin {
  color: gray;
  font-style: italic;
  float: left;
}

#users {
  color: black;
  font-weight: bold;
  float: left;
}

.MAC {
  color: black;
}

#bton {
  margin-right: 40px
}

.nombre, #btn {
  display: inline-block;
}

.contenedor2 input[type="text"] {
  float: left;
  outline: none;
  display: block;
  width: 20%;
  padding: 8px 15px;
  margin: 0 0 20px 27px;
  background: #ffffff;
  border-color: #e0e0e0;
  border-width: thin;
  border-radius: 10px;
  border-bottom: 4px solid #ff851b;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: normal;
  transition: all .5s ease;
}

.contenedor2 input[type="text"]:focus {
  border-bottom: 4px solid #0075d9;
}

/* width */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #555;
}