* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: url(../images/Fondo.jpg);
  background-position: center; 
  background-size: cover;
  background-attachment: fixed;
  background-color: rgba(200,100,0,.5);
  background-blend-mode: multiply;
  font-family: 'Source Sans Pro', sans-serif;
}

#descripcion {
  color: white;
  font-size: 23px;
  padding-left: 195px;
}

#logo {
  width: 328px;
  padding-top: 90px;
  padding-left: 180px;
}

#icon-text {
  font-size: 50px; 
  color: #00bcd4;
  padding-top: 122px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 335px;
}

.show-password {
  padding-left: 28px;
  color: black;
  font-size: 16px;
}
.contenedor-form {
  top: -475px;
  left: 200px;
  background-color: white;
  max-width: 400px;
  width: 100%;
  margin: 48px auto;
  margin-left: 483px;
  border-radius: 5px;
  color: #fff;
  position: relative;
}

.contenedor-registrarse {
  max-width: 400px;
  width: 100%;
  margin-top: -500px;
  margin-left: 683px;
  border-radius: 10px;
  padding: 1px;
}

.contenedor-form a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  color: black;
}

.contenedor-form h2 {
  color: black;
  margin: 0 0 28px 0;
  font-size: 25px;
  font-weight: 400;
  line-height: 1;
}

.contenedor-form input[type="text"],
.contenedor-form input[type="password"],
.contenedor-form input[type="email"] {
  outline: none;
  display: block;
  width: 100%;
  padding: 8px 15px;
  margin: 0 0 20px 0;
  background: #ffffff;
  border-color: #e0e0e0;
  border-width: thin;
  border-radius: 10px;
  border-bottom: 4px solid #ff851b;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: normal;
  transition: all .5s ease;
}

.contenedor-form input[type="text"]:focus,
.contenedor-form input[type="password"]:focus,
.contenedor-form input[type="email"]:focus {
  border-bottom: 4px solid #0075d9;
}

.contenedor-form input[type="submit"] {
  background: #FF851B;
  color: #FFF;
  width: 100%;
  border: none;
  padding: 12px 0;
  font-size: 16px;
  font-weight: normal;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 10px;
  transition: all .5s ease;
}

.contenedor-form input[type="submit"]:hover {
  background: rgba(0, 117, 217, 0.7);
}

.contenedor-form .reset-password {
  background: rgba(0, 117, 217, .7);
  width: 100%;
  padding: 15px 0;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.contenedor-form .reset-password a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.contenedor-form .formulario {
  display: none;
  padding: 30px;
}

.contenedor-form .formulario:nth-child(2) {
  display: block;
}

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 2px;
  left: 5px;
  height: 15px;
  width: 15px;
  background-color: #eee;
  outline: 1px solid black;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 4.5px;
  top: 0px;
  width: 4px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#error{
	margin-top: 1em;
	display: none;
}

#error span{
	color: rgb(255, 0, 0);
}

#correcto{
	margin: 0 auto;
	margin-top: 1em;
	display: none;
}

#correcto span{
	color: rgb(0, 255, 0);
}

/* Estos son los estilos para nuestros mensajes de error */
.error {
  width  : 100%;
  padding: 0;
 
  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 5px 5px 5px 5px;
 
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.error.active {
  padding: 0.3em;
}

/* Estos son los estilos para nuestros mensajes de correcto */
.correcto {
  width  : 100%;
  padding: 0;
 
  font-size: 80%;
  color: white;
  background-color: #00FE00;
  border-radius: 5px 5px 5px 5px;
 
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.correcto.active {
  padding: 0.3em;
}